[Unit]
Description=Redis In-Memory Data Store - Redis {{ item }}
After=network.target

[Service]
ExecStartPre=-/usr/bin/docker rm -f redis-{{ item }}
ExecStart=/usr/bin/docker run --name redis-{{ item }} \
 -p 700{{ item }}:6379 \
 -v /data/redis-{{ item }}:/var/lib/redis \
 --restart always \
 redis:4

ExecStop=-/usr/bin/docker stop redis-{{ item }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
